.footer {
  background-color: #f3f4f6;
  width: 100%;
  margin: 0;
}
.container-footer {
  padding: 30px 0;
  text-align: center;
}
.social-icons-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.social-icons-footer i {
  color: #000;
  opacity: 1;
}
.social-icons-footer i:hover {
  opacity: 0.5;
}
.cookie-box {
  text-align: center;
  background-color: #474747;
  color: #fdfdfd;
  padding: 16px 32px;
}
.button-accept {
  margin-top: 8px;
  padding: 12px 32px;
  border-radius: 20px;
  background-color: #474747;
  border: 1px solid #0dcaf0;
  color: #0dcaf0;
  cursor: pointer;
}
.button-accept:hover {
  background-color: #0dcaf0;
  color: #fff;
}
.description {
  text-decoration: underline;
}
