.nav-bar {
  height: 58px;
  border-bottom: 1px solid #1e81b0;
  background-color: #ece5e5;
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  margin: 0;
  right: 0;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  line-height: 58px;
}

.nav-bar-title {
  font-size: 40px;
}
.nav-bar-search {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}
.nav-bar-search i {
  cursor: pointer;
}
.nav-bar-search input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  transition: 0.5s;
  outline: none;
  border-radius: 16px;
}
.nav-bar-search input:focus {
  border: 1px solid #8b85c9;
}
.nav-bar-search input::placeholder {
  font-size: 16px;
  color: #504d4d;
  display: flex;
  align-items: center;
}

.subscribe a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #9080d0;
  border-radius: 16px;
}
.subscribe input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
  transition: 0.5s;
  outline: none;
}
.subscribe input:focus {
  border: 1px solid #8b85c9;
}

@media (max-width: 667px) {
  .nav-bar .subscribe,
  .nav-bar .nav-bar-search {
    display: none;
  }
  .nav-bar {
    width: 100%;
  }
}
